body {
  margin: 0;
  padding: 0 100px;
  background-color: rgba(141, 161, 203, 0.35);
  font-size: 25px;
  font-family: arial;
}

.rectangle-border {
  border: 2px solid rgb(75, 83, 111);
  padding: 20px 0; 
  background-color: rgb(166, 178, 219); 
  font-family: arial;
  font-size: 50px; 
  text-align: center; 
}

.navigation li {
  margin: 10px;
}

.same-size-image {
  width: 400px;
  height: 250px;
  margin: 0 10px;
}

.navigation {
font-size: 20px;
text-align: center;
font-family: arial;
list-style: none;
padding: 0;
display: flex;
justify-content: center;
}

.image-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px; 
    padding: 20px; 
}

.quote {
    font-size: 30px; 
    font-family: Baskerville; 
    text-align: center;
    margin-top: 30px; 
}