{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="border-container">
    <h1 class="rectangle-border">About Us</h1>

    <ul class="navigation">
        <li><a href="/">Back to Home</a></li>
    </ul>
    <h3>Members: Kelly He, Anoushka Singal, Rishika Singh, Aarthi Muthukumar</h3>
    <p>We are a group of students at UC Berkeley taking the Dighum 150A in Summer 2023. This is our final project for our course.</p>
    <p>In the future, we hope that more people will know what children read in the early 21st century and can use this information to think about the potential ways it has shaped us.</p>
    <p>We aimed to create an archive and exhibits page featuring childhood reads of the 21st century, driven by three primary purposes: preserving early 21st-century culture, invoking nostalgia, and facilitating research.</p>
    <p>Each generation possesses unique cultures and educational styles, and this is equally true for children who grew up in the early 21st century. Many of these books have profoundly influenced children's thinking, personalities, and education. For example, the Harry Potter series prompts conversations like "Which house are you from?" to showcase individual personality traits. These were common conversations among children in the early 21st century and could significantly influence who they are.</p>
    <p>This brings us to our second point on research. In the future, researchers will undoubtedly study how different generations are similar and different in terms of their literary experiences and how it changed them. As students who grew up during the early 21st century, our archive can offer insight into what we believe to be the highlights of our childhood reads.</p>
    <p>Finally, we hope that individuals who lived in the early 21st century will experience nostalgia for these books and series. The archive is created to keep our memories alive for everyone who has enjoyed these books. Children of that era read these books, and parents, teachers, and grandparents often engaged with them too. This could be through purchasing, reading, or observing children read these books. We aim to provide enjoyment and benefit to everyone who views our archives and exhibits.</p>
</div>
{% endblock %}


