{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1> About Us </h1>
<p class = 'move-right'> We are a group of students at UC Berkeley taking the 
        Dighum 150A in Summer 2023. This is our final project for 
        our course. 
</p>
<p class = 'move-right'> In the future, we hope that more people will know what children read in the early 
        21st century and can use this information to 
        think about the potential ways it has shaped us. 
</p>
 <p class = 'move-right'> Members: Kelly He, Anoushka Singal, Rishika Singh, Aarthi Muthukumar</p>
 {% endblock %}
