{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1> About Us </h1>
<ul>
        <li class = 'move-right'> <a href="/"> Back to Home </a> </li>
    </ul>
<h3 class = 'move-right'> Members: Kelly He, Aarthi Muthukumar, Rishika Singh, Anoushka Singal</h3>
<p class = 'move-right'> We are a group of students at UC Berkeley taking the 
        Dighum 150A in Summer 2023. This is our final project for 
        our course. 
</p>
<p class = 'move-right'> In the future, we hope that more people will know what children read in the early 
        21st century and can use this information to 
        think about the potential ways it has shaped us. 
</p>
<p class = 'move-right'> We aimed to create an archive and exhibits page featuring childhood reads of the 21st century, driven by three primary purposes: preserving early 21st-century culture, facilitating research, and invoking nostalgia. 
        Each generation possesses unique cultures and educational styles, and this is equally true for children who grew up in the early 21st century. Many of these books have profoundly influenced children's thinking, personalities, and education.
         Take, for instance, the Harry Potter series, which prompts conversations like "Which house are you from?" to showcase individual personality traits. These were conversations that were commonplace among children in the early 21st century and could significantly influence who they are. 
         This brings us to our second point on research. In the future, researchers will undoubtedly research how different generations are similar and different in terms of their literary experiences and how it changed them. As a group of students at Berkeley who grew up during the early 21st century, 
         our archive can offer insight into what we believe to be the highlights of our childhood reads. Finally, we hope that most individuals who lived in the early 21st century will experience nostalgia for these books and series. It is created for keeping our memories and everyone who has enjoyed these books. 
        Children of that era read these books, and parents, teachers, and grandparents often engaged with them too. This could be through purchasing, reading, or observing children read these books. We hope that these archives and exhibits can provide enjoyment and benefit to everyone who views them.
</p>

<p class = 'move-right'> 
        We would also like to recognize the following sources for our images: Palo Alto City Library Website, tyndale.com website's 'Best Book Series for Elementary and Middle School Students',
        and imagination.net website's 'Good Middle School Books for Reluctant Readers'. 
</p>
 {% endblock %}
