{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="border-container">
    <div class="page_title text-center">
        <h1 class="rectangle-border">Childhood Reads of the Early 21st Century</h1>
    </div>
    <ul class="navigation">
        <li><a href="archive/">Archives</a></li>
        <li><a href="exhibit/">Exhibits</a></li>
        <li><a href="aboutus.html">About Us</a></li>
    </ul>
    <div class="content">
        <p class="paragraph">Welcome to our archive, a curated archive showcasing early 21st-century children's literature. Our aim: preserve, evoke nostalgia, and inspire research into the impactful books that shaped young minds of our era. From Harry Potter sparking personality discussions to enabling future studies on generational reading influences, our collection offers insight into our cultural and cognitive development. This archive invites all to relive the joy of these books, bridging the past for readers of all ages.</p>
        <div class="image-container">
            <img src="/media/photographs/home.jpg" alt="Pic" class="same-size-image">
            <img src="/media/photographs/home2.jpg" alt="Pic" class="same-size-image">
            <img src="/media/photographs/home3.jpg" alt="Pic" class="same-size-image">
        </div>
    </div>
    <h2 class="quote">"The more that you read, the more things you will know. The more you learn, the more places you'll go." - Dr. Seuss</h2>

</div>
{% endblock %}
